header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 5vh;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-top: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.nav-links a i {
  font-style: normal;
}

.nav-links a:hover {
  color: #0077b6;
}

.nav-links span {
  margin: 0 10px;
}

.nav-links div {
  display: flex;
  align-items: center;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links li:last-child {
  margin-right: 0;
}
